@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');

:root {
    --primary-color: #7063ff;
    --purble-50: #f0efff;
    --gray-50: #eeeeee;
    --gray-100: #dddddd;
    --gray-200: #bbbbbb;
    --gray-300: #888888;
}
body {
    font-family: 'Inria Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.39px;
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
@media (max-width: 980px) {
    .container {
        margin: 0 1rem;
    }
}
@media (min-width: 981px) {
    .container {
        margin: 0 auto;
    }
}
@media (min-width: 981px) and (max-width: 1366px) {
    .container {
        width: 948px;
    }
}
@media (min-width: 1366px) {
    .container {
        width: 1335px;
    }
}
@media (min-width: 1366px) {
    .container {
        width: 1335px;
    }
}
.menu {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--gray-100);
}
.menu .container {
    height: 64px;
    display: flex;
    align-items: center;
}
.menu h1 {
    color: black;
    margin: 0;
    letter-spacing: -0.63px;
}
.menu h1 span {
    color: var(--primary-color);
}